<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visitRecord</display-name>
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>cubrid.jdbc.driver.CUBRIDDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:cubrid:localhost:33000:demodb:::</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>dba</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>1111</param-value>
  </context-param>

   <!-- 서블릿 선언 -->
  <servlet>
  	<servlet-name>VisitRecord</servlet-name>
  	<servlet-class>visitRecord.VisitRecord</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecordList</servlet-name>
  	<servlet-class>visitRecord.RecordList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecordUpdate</servlet-name>
  	<servlet-class>visitRecord.RecordUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMessage</servlet-name>
  	<servlet-class>visitRecord.UpdateMessage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppInitServlet</servlet-name>
  	<servlet-class>visitRecord.AppInitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>LogInServlet</servlet-name>
  	<servlet-class>visitRecord.LogInServlet</servlet-class>
  </servlet>
  
  <!-- 서블릿을 URL과 연결 -->
  <servlet-mapping>
  	<servlet-name>VisitRecord</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecordList</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecordUpdate</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMessage</servlet-name>
  	<url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>